* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

html {

    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}

/* ======================================================== */
/*                     /   BODY  /                          */
/* ======================================================== */

body {

    background-color: #ffffff;
    /* font-family: 'Commissioner', sans-serif; */
    /* font-family: 'Signika', sans-serif; */
    height: 100vh;
    /* width: 100vw; */
    overflow-x: hidden; 
    max-width: 1440px;
    margin: auto;

}


/* ======================================================== */
/*                 Idesime HEADERiui stiliu                 */
/* ======================================================== */

 header { 

    /* visa NAV "persoks" i virsu */
    display: flex; 
    /* pastumsime logo i kaire puse */
    justify-content: space-between; 
    justify-self: center; 
    /* sucentruosime NAV vertikaliai i centra */
    align-items: center; 
    /* atitrauksime nuo virsaus truputi */
    margin-top: 10px; 
    left: 0;
    right: 0;
    max-height: 7.7em;
    position: relative;
    /* position: fixed;  */
    z-index: 100; 
    background-color: rgb(255,255,255,1); 
    /*  Aprasau apatine NAV linija: */
    /* border-bottom: 1px solid rgba(77, 77, 78, 0.2);  */
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1)

    /* box-shadow: 3px 1px 2px 1px  rgb(177, 175, 175, 0.2);  */
 } 

/* ======================================================== */
/*          Viršutinė NAV juosta padarome nejudančia        */
/* ======================================================== */

header nav {

    position: sticky;
    top: 0;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*    Kalbos pasirinkimo langelis su dviem vėliavėlėmis  / LT ir ENG /   */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.kalbacontainer {

    margin-top: 0em;
    padding: 0;
    /* height: 15px; */
}

/* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */
/*       "KALBA" pasirinkimas - DIV'as /  Nustatome langelio dydį ir vietą:   */
/* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */

.kalba {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.3rem 0.55rem;
    width: 4.4rem;
    border: 1px solid rgba(77, 77, 78, 0.2);
    cursor: pointer;

    /* margin-left: 76%; */
    /* margin-left: 70%; */
    margin-left: 75%;

    /* margin-top: -10em; */
    /* margin-top: auto; */
    margin-top: 1em;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*       Nuotrauka    /    Nustatome pačios nuotraukos dydį:       */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

 .kalba img {

    width: 20px;
    height: 13px;
}

/* ===================================================== */
/*        Reguliuoju foninės nuotraukos aukštį           */
/* ===================================================== */

.nuotrauka img {

    margin-top: 2em;
}

/* ====================================================== */
/*        Mygtukas-Button: "Plačiau"   ( BENDRAS: )       */
/* ====================================================== */

.button .placiau {

    position: relative;
    background: #0a667e;
    display: flex;
    padding: 0.53rem 1.684rem;
    border: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*                 ( "PSICHOTERAPEUTAS" ) Mygtukas:                     */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.melynas {

  padding: 0.5em 0.8em;
  border-radius: 27px;
  background-color: #236389;
}

a.melynas {

    color: #fff !important;
    z-index: 999;
}

.melynas:hover {

  background-color: #465252;
  color: #fff;
  transition: all 0.4s ease-in-out 0.2s;
}

/*  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================== */
/*                          LOGO                            */
/* ======================================================== */

.logo {

    cursor: pointer;
    height: 5.9rem;

    left: 79px;
    top: 10em;

    transition: 0.5s;
}

/*  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*            /    S-3   /   "KAINOS"  /                  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s3 {

    background-color: rgb(255,255,255,1);
    /* height: 100vh; */
    /* border: 1px solid grey; */
    border: 1px solid rgba(77, 77, 78, 0.2); 

    /* border-right: 1px solid rgba(77, 77, 78, 0.2);  */
    /* border-left: 1px solid rgba(77, 77, 78, 0.2); */

    /* max-height: 100vh; */
    height: 100vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                       S-1  H-1                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s3 h1 {

    /* font-family: 'Commissioner', sans-serif; */
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
    font-size: 3.1rem;
    /* font-weight: 600; */
    font-weight: 400;
    color: #034958;

    margin-top: 4em;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}

/*  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.mobile__menu {

  display: none;
  background-color: rgb(241, 219, 91);
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*      Virsutinės  NAV Navigacijos nuorodų "linkai" ir jų aprašymai     */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================== */
/*          NAV __ LINKS ( visu nuorodu blokas )            */
/* ======================================================== */

.nav__links {

  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* ================================================ */
/*          NAV juostoje nuorodų aprašymas          */
/* ================================================ */

/* .nav__links {

   display: flex;
} */

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*          Bandau perkelti NAV nuorodu: HEADER'io linkus            */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================== */
/*    NAV __ LINKS   LI   ( Paslaugos, Patarimai, ...  )    */
/* ======================================================== */

.nav__links li {

  /* inline-block bus vienoje eiluteje, vienas salia kito */
  display: inline-block;
  padding: 0 1.2em;
}

/* ======================================================== */
/*    NAV __ LINKS   LI  A: ( Paciu nuorodu aprasymas  )    */
/* ======================================================== */

.nav__links li a {

  transition: all 0.4s ease 0s;
}

.nav__links li a {

   /* margin: 0 1.7rem; */

   font-size: 1.6rem;
   font-weight: 100;
   text-decoration: none;
   color: rgba(77, 77, 78, 1);
}

/* ======================================================== */
/*    NAV __ LINKS   LI  A:HOVER   ( parinksime spalva )    */
/* ======================================================== */

.nav__links li a:hover {
  color: #bec0be;
  transition: all 0.3s ease-in-out 0.1s;
}

/* ======================================================== */
/*   1.   HAMBURGER menu  /     nustatysime pozicija        */
/* ======================================================== */

.hamburger {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 14px;
  right: 10%;
  z-index: 5;
  cursor: pointer;
}

/* ======================================================== */
/*   2.  /  HAMBURGER menu DIV  /    Bus tris bruksneliai   */
/* ======================================================== */

.hamburger div {
  position: relative;
  width: 35px;
  height: 3px;
  border-radius: 3px;
  background-color: #0a667e;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

/* =========================================================== */
/*  3.  /  TOGGLE  /  Paprastai nesimato, tik mazinant ekrana  */
/* =========================================================== */

/* ======================================================== */
/*   Naudosime SUDO klase, kaip "checkbox'e". Kur galima  */
/* pazymeti arba nezymeti langeli. Ir naudosime Json Selector  */
/* paspaudus HAMBURGER'i, bruksneliai pasisuks 45 laipsniais */
/*  Is HTML kodo, TOGGLE INPUT'e, "paziuresime" ( checkbox )  */
/*  ir CSS kode, irasysime (toggle:checked su + ir ka reikia */
/*  patikrinti, bus (hamburger klases CHILD (hamburger__top) */
/*  ir ta elementa transformuos, pasuks 45 laipsniu kampu */
/* ======================================================== */

#toggle {
  display: none;
}

#toggle:checked + .hamburger .hamburger__top {
  transform: rotate(-45deg);
  margin-top: 17.5px; /* Half the size of hamburger height */
}

#toggle:checked + .hamburger .hamburger__meat {
  transform: rotate(45deg);
  margin-top: -3px; /* Negative value of hamburger div height */
}

/* kad pranyktu bruksnelis, nustatome nuli */
#toggle:checked + .hamburger .hamburger__bottom {
  transform: scale(0);
}

#toggle:checked + .hamburger + .hamburger__nav {
  top: 0;
}

/* ======================================================== */
/*  4.  /  HAMBURGER __ NAV  /    Visas hamburgerio langas  */
/* ======================================================== */

.hamburger__nav {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #050620;
  /*  Paspaudus "hamburgeri", nustumsime fona i virsu */
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* ======================================================== */
/*    5.       /  HAMBURGER __ NAV  WRAPPER  /              */
/* ======================================================== */

.hamburger__nav .hamburger__nav--wrapper {
  position: relative;
  overflow-y: auto;
  height: 100%;
}

/* ======================================================== */
/*   6.   /  HAMBURGER __ NAV  ITEMS  /  Tvarkysime vidines */
/*  "hamburgerio" tekstus ir nuorodas                       */
/* ======================================================== */

.hamburger__nav--items {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======================================================== */
/*    7.       /  HAMBURGER __ NAV  ITEMS nuorodos  /       */
/* ======================================================== */

.hamburger__nav--items a {
  margin-top: 40px;
  color: #0c7e9b;
  opacity: 0;
  text-decoration: none;
  font-size: 2em;
  transition: all 0.3s ease 0s;
}

/* ======================================================== */
/*   8.        /  HAMBURGER __ NAV  ITEMS   /               */
/* ======================================================== */

.hamburger__nav--items a:first-child {
  margin-top: 0;
}

/* ======================================================== */
/*    9.       /  HAMBURGER __ NAV  ITEMS   /               */
/*     Su OPACITY, matysime MOB skyriuje nuorodas           */
/* ======================================================== */

.hamburger__nav--wrapper nav a {
  opacity: 1;
}

/* ======================================================== */
/*    10.       /  HAMBURGER __ NAV  ITEMS   /              */
/*    viduje MOB menu, nuorodos keis spalva uzvedus pele    */
/* ======================================================== */

.hamburger__nav--wrapper nav a:hover {
  opacity: 1;
  color: #e74d71;
}

/* ======================================================== */
/*  Cia nesuprantu ka darome * Atrodo bus linija po uzrasu  */
/* ======================================================== */

/* body > p:first-of-type::after {

   content: '';
   display: block;
   position: absolute;
   margin: 1em 0;
   height: 2px;
   width: 100%;
   background: red;
} */

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*                              FOOTER                             */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                         S-6 FOOTER                            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s3 footer {

    display: flex;
    width: 100%;
    max-width: 1436px;
}

/* ---------------------------------------------------- */
/*    Visas FOOTER'io blokas: FOOTER - DISTRIBUTED      */
/* ---------------------------------------------------- */

/* .footer-distributed {

    padding-top: 2.82em;

} */

/* ================================================== */
/*   .footer- ICONS /  Pirmo langelio SOC.iconos      */
/* ================================================== */

 .footer-icons {

    margin: 0.5em 0;
    align-items: center;
    margin-top: 20px;
}

/* ================================================== */
/*   .footer-icons A /  Aprašymas SOC. įkonėlių:      */
/* ================================================== */

 .footer-icons a {

    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #236389;
	border-radius: 3px;
	font-size: 20px;
    color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin: 0 0.5em;
}

/* ======================================================== */
/*                         FOOTER                           */
/* ======================================================== */

footer {
  background-color: rgb(255,255,255,1);
}

/* ======================================================== */
/*                        footer P                          */
/* ======================================================== */

footer p {
  color: #050620;
}

/* ================================================== */
/*               Footer - distributed                 */
/* ================================================== */

.footer-distributed {

	display: inline-block;
    vertical-align: top;
}

/* ================================================== */
/*                  Footer links                      */
/* ================================================== */

 .footer-links {

    color: #2c292f;
	margin: 20px 0 12px;
}

/* ================================================== */
/*                    .footer-links  A                */
/* ================================================== */

 .footer-links a {

	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/* ================================================== */
/*   .footer- ICONS /  Pirmo langelio SOC.iconos      */
/* ================================================== */

 .footer-icons {

    margin: 0.5em 0;
    align-items: center;
}

/* ================================================== */
/*   .footer-icons A /  Aprašymas SOC. įkonėlių:      */
/* ================================================== */

 .footer-icons a {

    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #236389;
	border-radius: 3px;
	font-size: 20px;
    color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin: 0 0.5em;
}

/* ================================================== */
/*                      footer P                      */
/* ================================================== */

footer p {

    color: #050620;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

footer {
    
    /* position: relative; */
    /* position: absolute; */
    display: flex;
    bottom: 0;
    height: 7.7em;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

/* ================================================== */
/*                   .FOOTER - VISAS                  */
/* ================================================== */

.footer-visas{

	box-sizing: border-box;
	width: 100%;
    padding: 1rem;
    text-align: center;
    max-height: 120px;
    border: 1px solid rgba(77,77,78,0.2);
    /*   Truputi pakoreguojame FOOTERio vieta apacioje: */
    bottom: -3%;
}

.footer-visas {

    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(77, 77, 78, 0.2);
}

/* ================================================== */
/*   .FOOTER - PAGRINDINIS / left, center-1, ...      */
/* ================================================== */

.footer-distributed {

    display: inline-block;
    vertical-align: top;
}

.s2 footer {

    display: flex;
    width: 100%;
    max-width: 1436px;
    height: 8.6em;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer {
    background-color: rgb(255,255,255,1);
}

/* ----------------------------------------------------- */
/*      SOC ikoneles    /    Pirmas langelis   /         */
/* ----------------------------------------------------- */

footer .footer-pirmas {

    /* display: block; */
    border: 1px solid rgba(77, 77, 78, 0.2);
    text-align: center;
    width: 17%;
    height: 4.4em;
    margin-left: 4em;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer .footer-pirmas a { 
    margin: 0.7em 0.5em;
}

/* ----------------------------------------------------- */
/*          Ulonu psichoterapijos centras                */
/* ----------------------------------------------------- */

footer .footer-antras {

    text-align: center;
    max-height: 5em;
    width: 26%;
    height: 3.65em;
    height: 4em;
    /*  Atskirsime nuo virsaus truputi:   */
    border: 1px solid rgba(77, 77, 78, 0.2);
    border-left: none;
    font-size: 1.1em;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer .footer-antras p {
      padding-top: 1.2em;
}

/* ----------------------------------------------------- */
/*                     Darbo Laikas                      */
/* ----------------------------------------------------- */

footer .footer-trecias {

    text-align: center;
    max-height: 5em;
    width: 22%;
    height: 4.4em;
    padding-left: 0;
    padding-top: 1em;
    border: 1px solid rgba(77, 77, 78, 0.2);
    border-left: none;
}

/* ----------------------------------------------------- */
/*                 INFO + Telefonas                      */
/* ----------------------------------------------------- */

footer .footer-ketvirtas {

   text-align: center;
   max-height: 5em;
   width: 26%;
   height: 4.4em;
   padding-top: 1em;
   border: 1px solid rgba(77, 77, 78, 0.2);
   border-left: none;

}

/* ================================================== */
/*   .footer-icons A /  Aprašymas SOC. įkonėlių:      */
/* ================================================== */

 .footer-icons a {

    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #236389;
	border-radius: 3px;
	font-size: 20px;
    color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin: 0 0.5em;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*      "Parodome" Hamburgerio langelį - brūkšnelius       */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

@media screen and (max-width: 1130px) {

    .mobile__menu {
        display: inherit;
    }

    .footer-distributed {
        display: inherit;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*        Paslepiame NAV nuorodu  menu prie 1130 px          */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

@media screen and (max-width: 1150px) {


    .nav__links {
        display: none;
    }
    

    .s3 footer {
        display: none;
    }
}

/* MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */
/*         |   KAINOS   |               Kitas skyrius             */
/* WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW */

section.features {

    max-width: 1000px;
    /* margin: 1em 2em; */
    margin: 1em 1em;
}

/*  Teksto eilutėse aprašymas  */

section.features ol li div {

    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.4rem;
    font-size: 1.35rem;
    color: #1e7d92;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

section.features ol li {

   list-style-type: none;
   display: grid;
   grid-template-columns: 80% 20%;
   grid-template-columns: 75% 25%;
}

/* sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */
/*    | KAINOS |    Langelio aprašymas: suteiksime "šešėlio: efektą    */
/* sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */

section.features ol li:hover {

    box-shadow: 8px 8px 12px 4px rgba(0,0,0,0.2)
}

/* ------------------------------------------------------------------- */

section.features ol li.header {

    /*  ---   Nežinau ar turi būti nustatyta "STICKY" paziciją?  ---  */
   /* position: sticky; */

   /* hide feature cells when header is "over" them */
   background-color: #fff;

   /* some styling to make the header stand out a little from the features */
   border-bottom: 1px solid #666;
   font-weight: bold;
}

/* ---------------------------------------------------------------------- */

/*  Sulygiuojame tekstą kairėje pusėje */

section.features ol li div {

    text-align: start;
    padding: 0.3rem;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*      |  KAINOS  |        @ MEDIA QUERIES                  ( 376 PX  )  */   
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

@media screen and (max-width: 376px) { 

    section.features {

        width: 100%;
    }

    /*  Atstumas nuo viršaus, dešinės, apačios ir kairės pusių */

    section.features li {
        margin: 0.5em 0.5em 0 -1em;

    }

    /*   Lentelės viduje esančio teksto dydis:  */

    section.features ol li div {

        font-size: 1.7rem;
        padding: 0.5rem;
        margin: 1em 0 0 1em;

        display: grid;
        grid-template-columns: 70% 30%;
    }

    /* ------------------------------------------------------------- */
    /*   |  KAINOS  |     Pirmasis DIV mobilaus ekrane   ( 376 PX  ) */
    /* ------------------------------------------------------------- */

    section.features ol li div:nth-child(1) {

    /* -------------------------------------- */

        /* define first div (cell) to be 3 columns wide and span a whole row */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /* ------------------------------------------------- */
    /*      Antrasis DIV mobilaus ekrane    ( 376 PX  )  */
    /* ------------------------------------------------- */

      section.features ol li div:nth-child(2) {

        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ==================================================================== */
/*   /  KAINOS  /  Small devices    ( landscape phones, 576px and up )  */
/* ==================================================================== */

@media screen and (min-width: 576px)  {

      section.features {
        width: 97%;
    }
 }

 /* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
 /*  /  KAINOS  /  Perkėliau iš "aukščiau" kitas reguliavimas:   ( 672 PX  )  */
 /* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@media screen and (max-width: 672px) {

    section.features ol li {

        /* redefine the grid to have only two columns */
        /* grid-template-columns: 50% 50%; */
        grid-template-columns: 70% 30%;
        /* grid-template-columns: minmax(min-content, 1fr); */
        /* background-color: rgb(157, 241, 252); */

        /* define two template "rows per grid" (this is my murky understanding) */
        grid-template-rows: auto auto;
        /*  Padarau atskirymo liniją apačioje, kad mobiliajame  */
        /*  atskirtu, šiek tiek, tekstą */
        border-bottom: 1px solid rgba(209, 206, 206, 0.5);
    }

    section.features ol li div:nth-child(1) {

        /* define first div (cell) to be 3 columns wide and span a whole row */
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 2;
    }

    section.features ol li div:nth-child(2) {

        /* define first div (cell) to be 3 columns wide and span a whole row */
        /* grid-column-start: 1; */
        grid-column-start: 2;

        grid-column-end: 3;

        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*  Visas FEATURES, arba teksto dalis */

    section.features {
        /* display: flex; */
        /* width: 80%; */
        margin: 0;
        padding: 0;
        margin-left: 0;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ============================================================= */
/*          Medium devices            ( tablets, 768px and up )  */
/* ============================================================= */

/* @media screen and (min-width: 768px) and (orientation: landscape) { */
@media screen and (min-width: 768px) {

    /*  Prie 944 px, nuotrauka "peršoka" į mažesnį langą   */

    .nuotrauka img {
        margin-left: 3em;
    }

      section.features {
        width: 70%;
    }

    .kalba {
        margin-left: 85%;
    }

      .nuotrauka img {
        width: 70%;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*         Large devices  ( desktops, 992px and up )       */
/* ======================================================= */

@media screen and (min-width: 992px) {

    /*  Reguliuojame fono nuotrauką link dešinės pusės  */

    .nuotrauka img {

        float: right;
        margin-right: 2em;
        margin-top: 0em;
        margin-top: -2em;
        margin-bottom: 2em;
    }

    /*   "Kalba" langelį "pastumiame prie dešiniojo krašto   */

    .kalba {
        margin-left: 88%;
    }

    /*  Visos dalies FEATURES / teksto išplėtimas */

       section.features {
        width: 60%;
        width: 55%;
        /* background-color: rgb(248, 248, 229); */
    }

   .logo {
        margin-left: 6;
    }

       .nuotrauka img {
        width: 50%;
    }

}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*   Extra large devices (large desktops, 1200px and up)   */
/* ======================================================= */

@media screen and (min-width: 1200px) { 

    .nuotrauka img {
        margin-left: 3em;
    }

    section.features {
        width: 45%;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ========================================================= */
/*   Extra large devices ( large desktops, 1400 px and up )  */
/* ========================================================= */

@media screen and (min-width: 1400px) { 

    /*    "Sekcijos" pavadinimas ( "Kainos" )   */

    .s3 h1 {
        display: flex;
        margin-left: 1.95em;
        /* margin-top: 1.76em; */
        margin-top: 1.5em;
        margin-top: 1.4em;
    }   

    /*    Visa kainų teksto su kainomis dalis       */
    /*    " Pirminė psichoterapeuto konsultacija "  */

    section.features {

        margin-top: 3.2%;
        line-height: 1.12;
        width: 38%;
        margin-left: 4.3em;
    }

    /*   Foninė nuotrauka su "offiso erdvė" vaizdu  */

    img.pagalbinis {

        display: flex;
        float: right;
        margin-right: 10.25%;
        margin-right: 5.7%;
        margin-top: -16.55%;
    }

    /*   Paskutine eilutė: ( "1 sesija trunka 50 min" )  */
    /*   Nustumiame žemyn nuo kitų eilučių  */

    section.features ol li:nth-child(5) {

        /* background-color: rgb(245, 241, 35); */

        margin-top: 3.55em;
    }

    .kalba {
        margin-left: 91%;
    }

    .s3 footer {

            margin-top: 21em;
    }

    /*    LOGOtipa atitraukiu nuo kairiojo krašto   */

    .logo {
        margin-left: 5em;
    }

    /*  Atitraukiu nuorodas su "mėlynu" mygtuku nuo dešiniojo šono */

    .nav__links {
        margin-right: 5%;
    }

    /*  Reguliuoju atstumą nuo dešiniojo krašto iki "mėlynas' mygtuko */

    .nav__links {
        margin: 0 2.4em 0 auto;
    }

    /*  Noriu, kad "neperšoktų" nuorodos į kitą eilutę   */

    .nav__links {
        display: flex;
        flex-wrap: nowrap;
    }

    /*  Padarau tarpus "padding'o" paglaba, kad atskirti nuorodas */

    .nav__links a {
        padding: 0 0.6em;
    }

    /*  Bandau padidinti aplink "mėlunas" mygtuką erdvę */

    a.melynas {
        padding: 0.4em;
    }

    /*  Paskutinės teksto eilutės raidžių dydžio padidinimas  */
    /*  ( " 1 sesija trunka 50 min "  ) */
    
    .paskutinis div::first-line {
        /* background-color: rgb(160, 166, 250); */
        font-size: 1.7rem;
    }
}


/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */