* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* ======================================================== */

html {

    scroll-behavior: smooth;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* ======================================================== */

body {

    background-color: #ffffff;
    /* font-family: 'Commissioner', sans-serif; */
    font-family: 'Signika', sans-serif;
    height: 100vh;
    /* width: 100vw; */
    overflow-x: hidden; 

}

/* ============================================================ */
/*                         CONTAINER                            */
/* ============================================================ */

.container  {

    /* position: relative; */
    max-width: 1440px;
    margin: auto;
    border: 1px solid  rgb(177, 175, 175, 0.5);
    /* z-index: 999; */
}

/* ============================================================ */
/*                           HEADER                             */
/* ============================================================ */

header {
   
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 100;
  background-color: rgb(255,255,255,1);
  /* border-bottom: 1px solid rgba(77, 77, 78, 0.2); */
  /* border: 1px solid rgba(77, 77, 78, 0.2); */
  border-bottom: 1px solid rgba(77, 77, 78, 0.2);
  box-shadow: 3px 1px 2px 1px  rgb(177, 175, 175, 0.2);
  height: 7.7em;
  /* position: fixed; */
  width: 100%;
  max-width: 1436px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*          Viršutinė NAV juosta padarome nejudančia       */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

header nav {
   
   position: sticky;
   top: 0;
}

.nav__links li a {
   margin: 0 1.7rem;
   font-size: 1.6rem;
   font-weight: 100;
   text-decoration: none;
   color: rgba(77, 77, 78, 1);
}

/* ======================================================== */
/*                          LOGO                            */
/* ======================================================== */

.logo {

  cursor: pointer;
  /* margin-left: 3.8em; */
  height: 4.7em;
  height: 6em;
  
  top: 18.89px;
}




/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*                 ( "PSICHOTERAPEUTAS" ) Mygtukas:                     */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.melynas {
  padding: 0.5em 0.8em;
  border-radius: 27px;
  background-color: #236389;
}

a.melynas {

    color: #fff !important;
    z-index: 999;
}

.melynas:hover {
  background-color: #465252;
  color: #fff;
  transition: all 0.4s ease-in-out 0.2s;
}

/* ====================================================== */
/*        Mygtukas-Button: "Plačiau"   ( BENDRAS: )       */
/* ====================================================== */

.button .placiau {

    position: relative;
    background: #0a667e;
    display: flex;
    padding: 0.53rem 1.684rem;
    border: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*        Pirma sekcija :   " Ulonų psichoterapijos centras "           */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                           S-1                          */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s6 {

    background-color: rgb(255,255,255,1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                       S-1  H-1                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s6 h1 {

    /* font-family: 'Commissioner', sans-serif; */
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
    font-size: 3rem;
    font-weight: 500;
    /* margin-top: 3.86em; */
    color: #034958;

    /* margin-top: 1.35em; */
    /* margin-left: 6rem; */
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
/*   "KALBA" pasirinkimas    /    Nustatome rėmelio dydį ir vietą:       */
/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

.kalba {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* padding: 0.1rem 0.55rem ; */
    padding: 0.3rem 0.55rem;
    width: 4.4rem;
    border: 1px solid rgba(77, 77, 78, 0.2);
    cursor: pointer;
    margin-top: -2em;
    margin-left: 80%;
}

/* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */
/*      Nuotrauka   /    Nustatome pačios nuotraukos dydį:       */
/* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */

.kalba img {

    width: 20px;
    height: 13px;
    object-fit: cover;
}

/* ======================================================== */
/*    NAV __ LINKS   LI   ( Paslaugos, Patarimai, ...  )    */
/* ======================================================== */

.nav__links li {

    display: inline-block;
}

/* ======================================================== */
/*    NAV __ LINKS   LI  A:HOVER   ( parinksime spalva )    */
/* ======================================================== */

.nav__links li a:hover {

    color: #9ea09e;
    transition: all 0.2s ease;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*                      HAMBURGER MENU     mobilus                      */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/*  Paslepiame HAMBURGERIO menu brūkšnelius, kad nesimatytų dideliame ekra. */

.mobile__menu {
    display: none;
}

/* ======================================================== */
/*      HAMBURGER menu  /     nustatysime pozicija          */
/* ======================================================== */

.hamburger {

    position: absolute;
    width: 35px;
    height: 30px;
    top: 14px;
    right: 10%;
    z-index: 5;
    cursor: pointer;
}

/* ======================================================== */
/*   /  HAMBURGER menu DIV  /    Bus tris bruksneliai       */
/* ======================================================== */

.hamburger div {

    position: relative;
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #0a667e;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

/* ======================================================== */
/*   /  TOGGLE  /  Paprastai nesimato, tik mazinant ekrana  */
/* ======================================================== */

#toggle {
    display: none;
}

#toggle:checked + .hamburger .hamburger__top {
    transform: rotate(-45deg);
    margin-top: 17.5px; /* Half the size of hamburger height */
}

#toggle:checked + .hamburger .hamburger__meat {
    transform: rotate(45deg);
    margin-top: -3px; /* Negative value of hamburger div height */
}

/* kad pranyktu bruksnelis, nustatome nuli */
#toggle:checked + .hamburger .hamburger__bottom {
    transform: scale(0);
}

#toggle:checked + .hamburger + .hamburger__nav {
    top: 0;
}

/* ======================================================== */
/*   /  HAMBURGER __ NAV  /    Visas hamburgerio langas     */
/* ======================================================== */

.hamburger__nav {

    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #050620;
    /*  Paspaudus "hamburgeri", nustumsime fona i virsu */
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* ======================================================== */
/*           /  HAMBURGER __ NAV  WRAPPER  /                */
/* ======================================================== */

.hamburger__nav .hamburger__nav--wrapper {

    position: relative;
    overflow-y: auto;
    height: 100%;
}

/* ======================================================== */
/*   /  HAMBURGER __ NAV  ITEMS  /  Tvarkysime vidines      */
/*  "hamburgerio" tekstus ir nuorodas                       */
/* ======================================================== */

.hamburger__nav--items {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ======================================================== */
/*           /  HAMBURGER __ NAV  ITEMS nuorodos  /         */
/* ======================================================== */

.hamburger__nav--items a {

    margin-top: 40px;
    color: #0c7e9b;
    opacity: 0;
    text-decoration: none;
    font-size: 2em;
    transition: all 0.3s ease 0s;
}

/* ======================================================== */
/*           /  HAMBURGER __ NAV  ITEMS   /                 */
/* ======================================================== */

.hamburger__nav--items a:first-child {
    margin-top: 0;
}

/* ======================================================== */
/*           /  HAMBURGER __ NAV  ITEMS   /                 */
/*     Su OPACITY, matysime MOB skyriuje nuorodas           */
/* ======================================================== */

.hamburger__nav--wrapper nav a {
    opacity: 1;
}

/* ======================================================== */
/*           /  HAMBURGER __ NAV  ITEMS   /                 */
/*    viduje MOB menu, nuorodos keis spalva uzvedus pele    */
/* ======================================================== */

.hamburger__nav--wrapper nav a:hover {
    opacity: 1;
    color: #e74d71;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                         S-1 FOOTER                            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s6 footer {

    display: flex;
    width: 100%;
    max-width: 1436px;
    height: 8.6em;
    /* margin-top: 46em; */
}



/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*                              FOOTER                                  */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ---------------------------------------------------- */
/*    Visas FOOTER'io blokas: FOOTER - DISTRIBUTED      */
/* ---------------------------------------------------- */

/* .footer-distributed {

    padding-top: 2.82em;
} */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer {
    background-color: rgb(255,255,255,1);
}

/* ----------------------------------------------------- */
/*      SOC ikoneles    /    Pirmas langelis   /         */
/* ----------------------------------------------------- */

footer .footer-pirmas {

    /* display: block; */
    border: 1px solid rgba(77, 77, 78, 0.2);
    text-align: center;
    width: 17%;
    height: 4.4em;
    margin-left: 4em;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer .footer-pirmas a { 
    margin: 0.7em 0.5em;
}

/* ----------------------------------------------------- */
/*          Ulonu psichoterapijos centras                */
/* ----------------------------------------------------- */

footer .footer-antras {

    text-align: center;
    max-height: 5em;
    width: 26%;
    height: 3.65em;
    height: 4em;
    /*  Atskirsime nuo virsaus truputi:   */
    border: 1px solid rgba(77, 77, 78, 0.2);
    border-left: none;
    font-size: 1.1em;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: */

footer .footer-antras p {
      padding-top: 1.2em;
}

/* ----------------------------------------------------- */
/*                     Darbo Laikas                      */
/* ----------------------------------------------------- */

footer .footer-trecias {

    text-align: center;
    max-height: 5em;
    width: 22%;
    height: 4.4em;
    padding-left: 0;
    padding-top: 1em;
    border: 1px solid rgba(77, 77, 78, 0.2);
    border-left: none;
}

/* ----------------------------------------------------- */
/*                 INFO + Telefonas                      */
/* ----------------------------------------------------- */

footer .footer-ketvirtas {

   text-align: center;
   max-height: 5em;
   width: 26%;
   height: 4.4em;
   padding-top: 1em;
   border: 1px solid rgba(77, 77, 78, 0.2);
   border-left: none;

}

/* ================================================== */
/*   .footer-icons A /  Aprašymas SOC. įkonėlių:      */
/* ================================================== */

 .footer-icons a {

    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #236389;
	border-radius: 3px;
	font-size: 20px;
    color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin: 0 0.5em;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*       @ MEDIA QUERIES      @ MEDIA QUERIES      @ MEDIA QUERIES      */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================== */
/*          @ MEDIA QUERIES :         /   iki 1400 px   /   */
/* ======================================================== */

@media screen and (max-width: 1400px) {

    /* .s6 footer {
        margin-top: 56em;
    } */
}

/* ======================================================== */
/*      MEDIA QUERIES :       iki 860 px                    */
/* ======================================================== */

@media screen and (max-width: 860px) {

    .mobile__menu {
        display: inherit;
    }
}

/* ======================================================== */
/*      MEDIA QUERIES :       iki 400 px                    */
/* ======================================================== */

@media screen and (max-width: 400px) {

    /* ******************************************* */
    /*        BACKGROUND - IMAGE   ( 400 px  )     */
    /* ******************************************* */

    background-image {
        width: 30%;
    }

    /* ******************************************* */
    /*                    HEADER      ( 400 px  )  */
    /*       Bus per visa MOB ekrano ploti         */
    /* ******************************************* */

    header {
        /* position: relative; */
        top: 0;
        right: 0;
        left: 0;
    }

    /* ******************************************* */
    /*      Gerai neprisimenu kas ka cia daro?     */
    /* ******************************************* */

    .fp-tableCell {

        align-items: center;
        justify-content: center;
    }
  
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*   Bandau @MEDIA QUERIES  :  1400 PX ,nes netelpa "psichoterapija:     */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 1440px) {

    /* ---------------------------------------------------------------- */
    /*       Tarpai tarp NAV nuorodų , reikalingi mažinant ekraną       */
    /* ---------------------------------------------------------------- */

   .nav__links li a {
       margin: 0 1rem;
   }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*                      @MEDIA QUERIES  :  1338 PX                       */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 1338px) {

    .nav__links li a {
       margin: 0 0.4rem;
   }

   /* ---------------------------------------------------- */
   /*   Bandau nustatyti "Plačiau" mygtuką, kad "nedingtų" */
   /* ---------------------------------------------------- */

   .placiau {
       position: relative;
       bottom: 1rem;
   }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*                      @MEDIA QUERIES  :  1240 PX                       */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 1240px) and (min-width: 1000px)  {

    .s6 {
        /* position: absolute; */
        height: calc(100vh - 10em);
    }

    /* ---------------------------------------------------------------- */
    /*       Tarpai tarp NAV nuorodų , reikalingi mažinant ekraną       */
    /* ---------------------------------------------------------------- */

    .nav__links li {
        padding: 0 0.1em;
    }

    /* ---------------------------------------------------------------- */
    /*   Reikia palikti, nes mažinant ekraną "peršoka" mėlynas button   */
    /* ---------------------------------------------------------------- */

    .logo {
        margin-left: -1em;
    }

     /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
     /*    Padarau tarpus tarp DIV'u/langeliu us nuorodom FOOTER'io:   */
     /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    /* .s6 footer  {

        position: absolute;
        font-size: 0.8rem;
        width: 100%;
        max-width: 1440px;
        padding-top: 1rem;
        bottom: -1.2rem;
    } */

    /* -------------------------------------------------------------- */
    /*              Soc. ikoneles:                     ( 1240 px )    */
    /* -------------------------------------------------------------- */

    .footer-icons {

        justify-content: center;
        margin: 0.1rem 0;
    }

    /* -------------------------------------------------------------- */
    /*              Soc. ikoneles:  PIRMAS LANGELIS    ( 1240 px )    */
    /* -------------------------------------------------------------- */

    .footer-icons .footer-pirmas {
        margin: 0.1rem 0;
    }

    /* -------------------------------------------------------------- */
     /*     Antras langelis / "VsI Ulonu psichoterapijos centras"     */
    /* -------------------------------------------------------------- */

    .s6 .footer-distributed .footer-antras {
        display: inline-block;
    }

    /* -------------------------------------------------------------- */
    /*  Antro langelio DIV  / "VsI Ulonu psichoterapijos centras"     */
    /* -------------------------------------------------------------- */

    .footer-antras div {

        padding: 0;
        margin: 0;
        justify-content: center;
        max-height: 7em;
        padding-top: 0em;
    }

    /* -------------------------------------------------------------- */
    /*            Soc. ikoneles:  TREČIAS LANGELIS     ( 1240 px )    */
    /* -------------------------------------------------------------- */

    footer .footer-trecias {

        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding-top: 0.4em;
    }

    /* -------------------------------------------------------------- */
    /*                    Tekstas:                     ( 1240 px )    */
    /* -------------------------------------------------------------- */

    .s6 h2 {

        margin: 0.5rem 6rem 3rem 5rem;
        font-size: 2.2em;
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*               @ MEDIA QUERIES : 1130 PX           */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 1130px) {

    /* --------------------------------------------- */
    /*   H - 1: "VšĮ Ulonų psichoterapijos centras"  */
    /* --------------------------------------------- */

   .s6 h1 {
       
      text-align: center;
      /* margin: 2rem 34rem 3rem 0rem; */
   }

    /* --------------------------------------------- */
    /*      H - 2  tekstas po H - 1 pavadinimo       */
    /* --------------------------------------------- */

   .s6 h2 {

        display: flex;
        margin-right: 5em;
        margin: 0.5rem 0rem 0rem 5rem;
   }

    .nav__links li a {
       margin: 0 0.1rem;
       font-size: 1.5rem;
   }

   /* ------------------------------------------- */
   /*  Pastumiu LOGO i kaire puse, kad sulygiuoti */
   /* ------------------------------------------- */

   .logo {
       margin-left: auto;
   }

   /* ------------------------------------------- */
   /*     Paslepiu NAV nuorodas prie 1130 px      */
   /* ------------------------------------------- */

    .nav__links {
        display: none;
    }

    /* ------------------------------------------- */
    /*    Hamburberio MENU bruksneliai: 1130 px    */
    /* ------------------------------------------- */

    .mobile__menu {
        display: inherit;
    }

    /* ------------------------------------------------ */
    /*    Bandau priderinti "Placiau" mygtuka */
    /* ------------------------------------------------ */

    .placiau {
        margin: -10%;

        transform: translateY(10%);
        bottom: -10rem;
    }

    /* ---------------------------------------------------- */
    /*  FOOTER'io juostos nuorodu teksto dydis (  1130 px ) */
    /* ---------------------------------------------------- */

    .s6 footer  {
        font-size: 0.7rem;
        display: none;
    }

    /* ---------------------------------------------------- */
    /*        FOOTER'io Ketvirtas langelis   (  1130 px )   */
    /* ---------------------------------------------------- */

    footer .footer-ketvirtas { 
        width: 20%;
    }

    footer .footer-pirmas { 
        width: 20%;
    }

    footer .footer-pirmas .footer-icons {
        margin-top: -0.2rem;
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*               @ MEDIA QUERIES:  980 PX             */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (max-width: 980px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right,
    .footer-side {
 
        display: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-center i {

        margin-left: 0;
        padding: 0;
    }
    
    .section .s6 h2 {

        display: inline;
        margin: 0 0.5em ;
    }

     .s6 footer {
        display: none;
    }

    /* ------------------------------------------- */
    /*    Kol kas "uzkomentuoju" skyriaus auksti   */
    /* ------------------------------------------- */

     /* .s6 {
       height: calc(100vh - 8rem);
   } */
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*               @ MEDIA QUERIES : 850 PX            */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 850px) {

    /* --------------------------------------------- */
    /*   H - 1: "VšĮ Ulonų psichoterapijos centras"  */
    /* --------------------------------------------- */

    .s6 h1 {

        line-height: 60px;
        font-size: 3rem;
        /* margin: 2rem 15rem 2rem 1rem; */
    }

    /* --------------------------------------------- */
    /*      H - 2  tekstas po H - 1 pavadinimo       */
    /* --------------------------------------------- */

    .s6 h2 {
        padding: 0 0.7em;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /*        .s6 - H2     tekstas:       ( 850 px )    */
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .s6 h2 {
        margin: 2.5rem 2rem 1rem 1rem;
        font-size: 2em;
    }

    /* ------------------------------------------------ */
    /*     Paslepiame prie 850 px FOOTER'io juosta      */
    /* ------------------------------------------------ */

    footer .footer-distributed {
        display: none;
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*               @ MEDIA QUERIES : 370 PX            */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-height: 370px) {

    header ul {
        top: 0;
    }

    /* ::::::::::::::::::::::::::::::::::::::::: */

    header {
        padding-top: 0;
    }

    /* ::::::::::::::::::::::::::::::::::::::::: */

    .container {
        height: auto;
    }
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*    */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*    Small devices ( landscape phones, 576px and up )     */
/* ======================================================= */

@media (min-width: 356px)  { 

    .s6 h1 {
        text-align: center;
        color: rgba(3, 73, 88, 0.8);

    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*       /    STRAIPSNIAI    /        ( 356 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .straipsniai {

        /* display: grid; */
        display: block;

        /* max-width: 1440px; */
        margin: 0 auto;
        /* gap: 1rem; */
        /* margin: 1em; */
        line-height: 1.1;

        /* '''''''''''''''''''''' */

        height: 100vh;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */

        /* ''''''''''''''''''''''' */
    }

    /* +++++++++++++++++++++++++++++++++++++++++++++++ */
    /*    Antro skyriaus "p" teksto raidziu "svoris"   */
    /* +++++++++++++++++++++++++++++++++++++++++++++++ */

    p .pirmas, .antras, .trecias, .ketvirtas {

        font-weight: 700;
        margin-top: 1rem;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*        /    TEKSTAS 1    /         ( 356 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas1 {

        display: block;
        padding: 2em;
        text-align: justify;
    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */
    /*  "E-psichoterapija COVID'19 sąlygomis"  ( 356 PX )  */
    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas1 h3 {

        font-size: 2rem;
        text-align: center;
        padding-bottom: 1rem;
        /* color: #034958; */
        color: rgba(3, 73, 88, 0.8);
    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */
    /*  "Gyvendami pasaulinės pandemijos sąlygomis,"    ( 356 PX )  */
    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas1 h5 {

        font-size: 1.5rem;
        font-weight: 200;
        padding-bottom: 1rem;
        /* color: #034958; */
        color: rgba(3, 73, 88, 0.8);

    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas1 button {

        margin: auto;
        width: 100%;
        bottom: 0;
    }

    .tekstas1 button.placiau {

        font-size: 2rem;
        justify-content: center;
    }

    a:link {

        text-decoration: none;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*        /    TEKSTAS 2    /         ( 356 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas2 {

        display: inline-block;
        padding: 2em;
        text-align: justify;
        color: #034958;

    }

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*    ( 1 ).  / H - 3 /   [ "Jusu klausimai" ]   -  -  ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*    ( 5 ). [ "LM: Pagal įgytą specialybę išskiriami" ]  ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h3 {

        font-size: 2rem;
        text-align: center;
        padding-bottom: 1rem;
        /* color: rgba(2, 50, 61, 0.8); */
        color: rgba(3, 73, 88, 0.8);

        
    }

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 2 ).  [ "Psichoterapija - kas tai?" ]     ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 4 ).   [ "Kuo skiriasi psichologas" ]     ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 6 ).  [ "Kiek trunka psichoterapija?" ]   ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 8 ).      [ "Ar man pades?" ]            ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 p {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        /* color: #034958; */
        color: rgba(3, 73, 88, 0.8);


    }

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 3 ).  [ "LM: Psichoterapija - tai gyd .. " ]    ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*  ( 7 ).  [ "LM: Psichoterapinės sesijos vyksta" ]   ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*  ( 9 ).  [ "LM: Sezonine depresima prasid .. " ]    ( 356 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2  h4 {

        font-size: 1.5rem;
        font-weight: 200;
        color: #034958;
    }

    /* . . . . . . . . . . . . . . */

    .tekstas2 button {

        margin: auto;
        width: 100%;
        margin-top: 1em;
        bottom: 0;
    }

    .tekstas2 button.placiau {

        font-size: 2rem;
        justify-content: center;
    }

    a:link {

        text-decoration: none;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*        /    TEKSTAS 3    /         ( 356 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas3 {

        display: inline-block;
        padding: 2em;
        text-align: justify;
    }

    .tekstas3 h3 {

        font-size: 2rem;
        text-align: center;
        padding-bottom: 1rem;
        /* color: #034958; */
        color: rgba(3, 73, 88, 0.8);

        font-weight: 600;
    }

    .tekstas3 h5 {

        font-size: 1.5rem;
        font-weight: 200;
        padding-bottom: 1rem;
        /* color: #034958; */
        color: rgba(3, 73, 88, 0.8);

        font-weight: 100;
    }

    /* . . . . . . . . . . . . . . */

    .tekstas3 button {

        /* display: grid; */
        margin: auto;
        width: 100%;
        bottom: 0;
    }

    .tekstas3 button.placiau {

        font-size: 2rem;
        justify-content: center;
    }

    a:link {

        text-decoration: none;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*          /    TEKSTAS 1,2,3    /    ( 356 PX )  */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas1 {

        /* border: 1px solid #ffe066; */
        /* border-radius: 5px; */
        display: flex;
        flex-direction: column;

        background-color: rgb(241, 238, 208);
    }

    /* ------------------------------------------ */

    .tekstas2 {

        /* border: 1px solid #f3c715; */
        /* border-radius: 5px; */
        display: flex;
        flex-direction: column;

        background-color: rgb(202, 252, 204);
    }

    /* ------------------------------------------ */

    .tekstas3 {

        /* border: 1px solid #f3633f; */
        /* border-radius: 5px; */
        display: flex;
        flex-direction: column;

        background-color: rgb(245, 200, 200);
    }

    /* -------------------------------------------- */
    /*         Nuotrauka:: "Mergaite ir suo"        */
    /* -------------------------------------------- */

    img {
        max-width: 100%;
        display: block;
        /* margin-left: 2%; */
    }
}


/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*    Small devices ( landscape phones, 576px and up )     */
/* ======================================================= */

@media (min-width: 576px)  { 

  

    /* =================================================== */
    /*       Mygtukas-Button: "Plačiau"       ( 576 PX )   */
    /* =================================================== */

    .tekstas1 .button .placiau  {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    .tekstas2 .button .placiau {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    .tekstas3 .button .placiau {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*       /    STRAIPSNIAI    /        ( 576 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

     .straipsniai {

        display: grid;

        /* grid-template-columns : 8, 1fr; */
        grid-template-columns : 5, 1fr;

        grid-template-rows: 6, 1fr;


        max-width: 1440px;
        margin: 1em;
        gap: 1rem;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /* =================================================== */
    /*    1.  Pagrindinis uzrasas: "BLOG"      ( 576 PX )  */
    /* =================================================== */

    .s6 h1 {

        grid-column: 1 / 6;
        /* grid-column: 1 / 8; */
        grid-row: 1 / 2;

        text-align: center;
    }

    /* =================================================== */
    /*      Teksto skyriu surykiavimas        ( 576 PX )   */
    /* =================================================== */
 
    /* ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  */  
    /*   1.    "E-psichoterapija COVID'19 sąlygomis"      */
    /* v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  */

    .tekstas1 {

        grid-column: 1 / 3;
        grid-row: 2 / 6;
            grid-row: 2 / 5;
    }

    /* ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  */  
    /*    2.            "Jūsų klausimai"                  */
    /* v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  */

    .tekstas2 {

        /* grid-column: 3 / 8; */
        grid-column: 3 / 9;
        grid-column: 3 / 6;

        grid-row: 2 / 5;
    }

    /* ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  */  
    /*    3.            "Jūsų klausimai"                  */
    /* v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  */

    .skyriausIMG {

        grid-column: 3 / 9;
        grid-column: 1 / 6;

        grid-row: 5 / 6;
    }

    /* ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  ^  */  
    /*    4.           "Grupinė terapija"                 */
    /* v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  v  */

    .tekstas3 {

        grid-column: 1 / 9;
        grid-column: 1 / 6;

        grid-row: 6 / 7;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    /*   /   "E-psichoterapija COVID'19 sąlygomis"   /      ( 576 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas1 {

        position: relative;
        padding: 1em;
        text-align: justify;
    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */
    /*  "E-psichoterapija COVID'19 sąlygomis"  ( 576 PX )  */
    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas1 h3 {

        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        padding-bottom: 1rem;
    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */
    /*  "Gyvendami pasaulinės pandemijos sąlygomis,"    ( 576 PX )  */
    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas1 h5 {

        font-size: 1.1rem;
        font-weight: 200;
        padding-bottom: 1rem;
        /* color: rgba(3, 73, 88, 0.8); */
    }

    .tekstas1 button.placiau {

        font-size: 1.5rem;
        justify-content: center;
    }

    a:link {

        text-decoration: none;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*        /    TEKSTAS 2    /         ( 576 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas2 {

        padding: 1em;
        text-align: justify;
    }

    /*  ////////  1. "Jusu klausimai"   /////////  */

    .tekstas2 h3 {

        /* font-size: 2rem; */
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        /* padding-bottom: 0; */
    }

    /*  ////////   "Psichterapija" - kas tai?"   /////////  */

    .tekstas2 p {
        /* font-size: 1.5rem; */
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0;
        margin: 0.3rem;
    }

    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */
    /*   "Psichoterapija – tai gydymas pokalbiu,"      ( 576 PX )   */
    /* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   */

    .tekstas2  h4 {

        font-size: 1.1rem;
        font-weight: 300;

        color: rgba(3, 73, 88, 0.8);
    }

    .tekstas2 button.placiau {

        font-size: 1.5rem;
    }

    /* a:link {

        text-decoration: none;
    } */

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*        /    TEKSTAS 3    /         ( 576 PX )   */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas3 {

        padding: 1em;
        text-align: justify;
    }

    .tekstas3 h3 {

        /* font-size: 2rem; */
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        padding-bottom: 1rem;
    }

    .tekstas3 h5 {

        /* font-size: 1.5rem; */
        /* font-size: 1.3rem; */
        font-size: 1.15rem;
        font-weight: 300;
        padding-bottom: 1rem;
    }

    .tekstas3 button.placiau {

        /* font-size: 2rem; */
        font-size: 1.5rem;
        justify-content: center;
    }

    /* ----------------------------------------------- */
    /*  Nuo "Placiau" mygtuko nuimame apatini bruksni  */
    /* ----------------------------------------------- */

      a:link {

        text-decoration: none;
    }

    /* ::::::::::::::::::::::::::::::::::::::::::::::: */
    /*       /    TEKSTAS:  1, 2 , 3    /   ( 576 PX ) */
    /* ::::::::::::::::::::::::::::::::::::::::::::::: */

    .tekstas1 {

        /* background-color: rgb(214, 245, 40); */
        background-color: #fff;
        border: 1px solid rgba(77, 77, 78, 0.2);
    }

    /* ------------------------------------------ */

    .tekstas2 {

        position: relative;
        /* background-color: rgb(241, 255, 165); */
        background-color: #fff;

        border: 1px solid rgba(77, 77, 78, 0.2);
    }

    /* ------------------------------------------ */

    .tekstas3 {

        /* background-color: rgb(184, 214, 14); */
        background-color: #fff;

        border: 1px solid rgba(77, 77, 78, 0.2);
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*             Mygtukai - BUTTON                   */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas1 button {

        position: absolute;
        width: auto;

        left: 20%;
        top: 2.7em;
        /* top: 3.8em; */

        /* bottom: -3.7em; */
        
    }

    .tekstas2 button {

        width: auto;

        left: 28%;
    }

    .tekstas3 button {

        width: auto;

        left: 38%;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*              /   Naudojame MIN - WIDTH   /              */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*          Medium devices ( tablets, 768px and up )       */
/* ======================================================= */

@media (min-width: 768px) { 
 
    .straipsniai {

        display: grid;

        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(8, 1fr);
    }

    .kalba {
        margin-left: 88%;
    }

    /* ======================================================== */
    /*     GRID išdėstymas: Straipsnio viduje    (  768 PX  )   */
    /* ======================================================== */

    /* '  '  '  '  '  '  '  '  '  '  '  '  '  ' */
    /*    0.             "BLOG"     ( 768px )   */
    /* .  .  .  .  .  .  .  .  .  .  .  .  .  . */

    .s6 h1 {

        grid-column: 1 / 3;
        /* grid-column: 1 / 5; */
        grid-row: 1 / 2;
    }

    /*   Atitraukiu truputį nuo viršaus, kad būtų vertikaliai viduryje  */

    .s6 h1 {
        margin-top: 0.5em;
    }
  
    /* '  '  '  '  '  '  '  '  '  '  '  '  '  ' */
    /*    1.     "Jūsų klausimai"   ( 768px )   */
    /* .  .  .  .  .  .  .  .  .  .  .  .  .  . */

    .tekstas2 {

        grid-column: 1 / 3;
        /* grid-row: 2 / 6; */
        grid-row: 2 / 7;

        position: relative;
    }

    /* '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  */
    /*   2.   "E-psichoterapija COVID'19 sąlygomis"    ( 768px )   */
    /* .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  */

    .tekstas1 {

        grid-column: 3 / 5;
        grid-row: 1 / 5;

        position: relative;
    }

    /* '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  */
    /*   3.  "Mergaite ir suo" - nuotrauka    ( 768px )   */
    /* .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  */

    .skyriausIMG {
        grid-column: 3 / 5;
        grid-row: 5 / 7;
    }

    /* '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  '  */
    /*    4.       "Grupinė terapija"         ( 768px )   */
    /* .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  */

    .tekstas3 {

        grid-column: 1 / 5;
        /* grid-row: 6 / 8; */
        grid-row: 7 / 9;

        position: relative;
    }

    /* ========================================================== */
    /*                  BUTTON -- Mygtukai                        */
    /* ========================================================== */

    /* ................................................... */
    /*     1.      "Jūsų klausimai"          ( 768px )     */
    /* ................................................... */

    .tekstas2 button {

        position: absolute;
        /* top: -0.5em; */
        /* top: 1.5em; */
        left: 30%;
        top: 1em;
        top: 0em;
    }

    /* .............................................................. */
    /*    2.   "E-psichoterapija COVID'19 sąlygomis"      ( 768px )   */
    /* .............................................................. */

     .tekstas1 button {
        top: -0.5em;
        /* top: 0.5em; */

        left: 35%;
    }

    /* ....................................................... */
    /*     3.             "Grupinė terapija"       ( 768px )   */
    /* ....................................................... */

     .tekstas3 button {
        /* top: -39%; */
        top: -2.1em;
        top: -1em;
        right: -42%;
    }

    /* ================================================= */

    .tekstas1 {
        background-color: rgb(248, 208, 201);
    }

    .tekstas2 {
        background-color: rgb(130, 182, 241);
    }

    .tekstas3 {
        background-color: rgb(179, 197, 218);
    }

    /* ====================4============================ */

 }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*         Large devices  ( desktops, 992px and up )       */
/* ======================================================= */

@media (min-width: 992px) { 

      .straipsniai {

        grid-template-columns: repeat(8, 1fr); 
        grid-template-rows: repeat(8, 1fr);
    }

    .kalba {
        margin-left: 88%;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*              ( 992px and up )                    */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas1 {
        background-color: rgb(207, 247, 33);
    }

    .tekstas2 {
        background-color: rgb(222, 252, 91);
    }

    .tekstas3 {
        background-color: rgb(235, 250, 171);
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*              ( 992px and up )                    */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    /*   "E-psichoterapija COVID'19 ... "  */

    .tekstas1 {
        grid-column: 1 / 5;
        grid-row: 2 / 5;
    }

    /*   "Jusu klausimai"   */

    .tekstas2 {
        grid-column: 5 / 9;
        grid-row: 1 / 5;
    }

    /*    Nuotrauka   */

     .skyriausIMG {
        grid-column: 5 / 9;
        grid-row: 5 / 8;
    }

    /*  "Grupine terapija"  */

    .tekstas3 {
        grid-column: 1 / 5;
        grid-row: 5 / 8;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*              ( 992px and up )                    */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas1 button {

        top: -1.3em;
    }

     .tekstas2 button {

        top: -0.5em;
        left: 35%;
    }

     .tekstas3 button {

        top: 1.1em;
        left: 35%;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* ======================================================= */
/*   Extra large devices (large desktops, 1200px and up)   */
/* ======================================================= */

@media (min-width: 1200px) { 

    .straipsniai {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .kalba {
        margin-left: 92%;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*                ( 1200px and up )                 */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas2 {
        grid-column: 1 / 9;
        grid-row: 2 / 5;
    }

    .tekstas3 {
        grid-column: 1 / 5;
        grid-row: 5 / 8;
    }

    .skyriausIMG {
        grid-column: 6 / 9;
        grid-row: 5 / 8;
    }

    .tekstas1 {
        grid-column: 1 / 9;
        grid-row: 8 / 10;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*                ( 1200px and up )                 */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas1 {
        /* background-color: rgb(130, 186, 250); */
        background-color: #fff;

    }

    .tekstas2 {
        /* background-color: rgb(130, 186, 250); */
        background-color: #fff;

    }

    .tekstas3 {
        /* background-color: rgb(130, 186, 250); */
        background-color: #fff;

    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*                ( 1200px and up )                 */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .tekstas2 button {
        top: -16.3em;
        left: 43%;
    }

    .tekstas3 button {
        top: 2em;
        left: 40%;
    }

    .tekstas1 button {
        top: -1.2em;
        left: 43%;
    }
    
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    /* .tekstas2 {
        margin: -3em 1em;
    } */

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

}

/* ======================================================= */
/*  Extra large devices ( large desktops, 1400 px and up ) */
/* ======================================================= */

@media (min-width: 1400px) { 

    .s6 h1 {
        
        float: left;
        margin-left: 0.5em;
        margin-top: 1.4em;
    }

    /* ====================================================== */
    /*         Mygtukas-Button: "Plačiau"        ( 1400 px )  */
    /* ====================================================== */

    .tekstas1 .button .placiau {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    /* ====================================================== */
    /*      Visas skyrius: STRAIPSNIAI           ( 1400 px )  */
    /* ====================================================== */

    .straipsniai {

        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);
        /* grid-template-rows: repeat(6, 1fr); */


        margin-left: 4.3em;
        margin-right: 4.16em;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*                TEKSTAS 1             ( 1400 px )    */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

      .tekstas1 h3 {

        color: #034958;
        text-align: start;
        font-size: 1.55rem;
        font-weight: 600;

        margin-top: 0.2em;
    }

   
    .tekstas1 h5 {

        color: rgba(3, 73, 88, 0.8);
        font-weight: 400;
        font-size: 1.1rem;

        margin-top: -0.2em;
        line-height: 1.35;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*                   ( 1400 px )                       */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas1 button {

       top: 0.5em;
       left: 37%;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas1 {

        display: grid;

        grid-column: 1 / 4;
        grid-row: 2 / 7;

        padding: 2em;
        margin-top: 0.3em;
        margin-right: 1.9em;

        line-height: 1.2;

        margin-bottom: -0.8em;

    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*                TEKSTAS 2             ( 1400 px )    */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas2 {

        display: grid;

        grid-column: 4 / 7;
        grid-row: 1 / 7;

        margin-top: 3.5em;

        margin-left: -0.6em;
        margin-right: 2.4em;

        margin-bottom: -0.8em;

        padding: 0 1.35em;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

     p.pirmas, p.antras, p.trecias, p.ketvirtas {

        font-weight: 600;
        font-size: 1.15rem;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    /*            Antro skyriaus visas aprasymas              */
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    /* .   .   .   .   .   .   .   .   .   .   .   .   .  */
    /*         Antro teksto H - 5 /   Tekstas             */
    /* .   .   .   .   .   .   .   .   .   .   .   .   .  */

    .tekstas2 h5 {

        font-size: 1.14rem;
        color: #034958;
        font-weight: 100;
        line-height: 1.3;
        
        text-align: justify;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    /*    LABAI SUNKIAI SUDERINAU VISAS TEKSTO EILUTES, KAD "NESUGRIUTU"   */
    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*    ( 1 ).  / H - 3 /   [ "Jusu klausimai" ]   ( 1400 px ) */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h3 {

        display: flex;
        font-weight: 600;
        font-size: 1.6rem;
        color: #034958;

        margin-top: 1.05em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*    ( 2 ).    [ "Psichoterapija - kas tai?" ]      ( 1400 px )   */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 p.pirmas {

        margin-top: -0.5em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 3 ).  [ "LM: Psichoterapija - tai gyd .. " ]   ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h4:nth-of-type(1) {

        font-size: 1.15rem;
        font-weight: 100;
        line-height: 1.25;

        margin-top: -1.3em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 4 ).   [ "Kuo skiriasi psichologas" ]    ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 p.antras {

        margin-top: -1.1em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 5 ). [ "LM: Pagal įgytą specialybę išskiriami" ]  ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h4:nth-of-type(2) {

        font-size: 1.15rem;
        font-weight: 100;
        line-height: 1.25;

        margin-top: -1em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 6 ).  [ "Kiek trunka psichoterapija?" ]  ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 p.trecias {

        margin-top: -1em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*  ( 7 ).  [ "LM: Psichoterapinės sesijos vyksta" ]  ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h4:nth-of-type(3) {

        font-size: 1.15rem;
        font-weight: 100;
        line-height: 1.25;

        margin-top: -1em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*   ( 8 ).      [ "Ar man pades?" ]               ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 p.ketvirtas {

        margin-top: -1.2em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
    /*  ( 9 ).   [ "LM: Sezonine depresima prasid .. " ]     ( 1400 px )  */
    /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */

    .tekstas2 h4:nth-of-type(4) {

        font-size: 1.15rem;
        font-weight: 100;
        line-height: 1.25;

        margin-top: -1.2em;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxx */
    /*     ^^^^^^^^^^     PABAIGA TEKSTO REGULIAVIMO   ^^^^^^^^^^^   */
    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxx */
   
    .tekstas2 button {

        top: 0em;
        left: 34%;
    }

    /* ====================================================== */
    /*   TEKSTAS 2:  Mygtukas-Button: "Plačiau"  ( 1400 px )  */
    /* ====================================================== */

    .tekstas2 .button .placiau {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*        SKYRIAUS nuotrauka IMG         ( 1400 px )   */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .skyriausIMG {

        display: grid;

        grid-column: 7 / end;
        grid-row: 1 / 5;

        margin-top: 3.5em;
        margin-bottom: -0.5em;
        margin-left: -1.4em;
    }

    .skyriausIMG img {
        max-height: 50.4%;
        width: 100%;
        object-fit: cover;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*                TEKSTAS 3             ( 1400 px )    */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas3 {

        display: grid;

        grid-column: 7 / end;
        grid-row: 3 / 7;

        margin-top: 3.9em;
        margin-left: -1.3em;

        margin-bottom: -0.8em;
    }

    .tekstas3 h5 {

        color: #034958;
        text-align: start;
        font-size: 1.2rem;
        font-weight: 100;

        color: #034958;
        font-weight: 100;
        font-size: 1.15rem;

        margin-top: -1.15em;
        line-height: 1.3;
    }

    /* ====================================================== */
    /*         Mygtukas-Button: "Plačiau"        ( 1400 px )  */
    /* ====================================================== */

    .tekstas3 .button .placiau {

        padding: 0.53rem 1.684rem;
        font-size: 1.05rem;
        cursor: pointer;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*     3.        "Grupine terapija"      ( 1400 px )   */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas3 h3 {

        color: #034958;
        text-align: start;
        font-size: 1.43rem;
        font-weight: 600;

        margin-top: 0.1em;
    }

    .tekstas3 button {

        top: 1em;
        left: 35%;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*   KALBA - kalbos pasirinkimo langelis  ( 1400 px )  */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .kalba {

        margin-left: 90.9%;
    }

    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
    /*                   ( 1400 px )                       */
    /* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

    .tekstas1 {
        background-color: rgb(200, 241, 14);
        background-color: #fff;
    }

    .tekstas2 {
        background-color: rgb(44, 134, 236);
        background-color: #fff;

    }

    .tekstas3 {
        background-color: rgb(241, 56, 56);
        background-color: #fff;

    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    .s6 footer {
        bottom: 5em;
    }
 }

/*  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  X  */

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*          /  Naudojame MAX - WIDTH nustatyma  /          */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

@media (max-width: 575.98px) { 

 }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

