html {
    
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {

    font-family: 'Roboto Slab', serif;
    max-width: 1440px;
    margin: auto;
}

.kalba {

    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.2rem 0.55rem;
    border: 1px solid rgba(77, 77, 78, 0.4);
    cursor: pointer;
    width: 3.4rem;
}

.kalba img {

    width: 20px;
    height: 13px;
    object-fit: cover;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    max-height: 7.7em;
    position: fixed;
    z-index: 100;
    background-color: rgb(255,255,255,1);
    border-bottom: 1px solid rgb(223, 219, 219);
    box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 10%);
    
}

.logo {

    cursor: pointer;
    margin-left: 3.8em;
    height: 4em;
    top: 18.89px;
    transition: 0.3s;
    align-items: center;
}

header nav {
   
   position: sticky;
   top: 0;
}

header nav a {
    
	color: #67686d;
}

nav {

    width: 100%;
    right: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 1436px;
}

nav li {

    list-style: none;
    align-items: center;
}

.s5 {

	background-color: rgba(44, 23, 23, 0.1);
    height: 100vh;
    height: calc(100vh - 0em);
}

img.pokalbis {

    height: 60vh;
    width: 100vw;
    object-fit: cover;
}


.s5 h1 {

    position: relative;
    /* text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5); */
    font-weight: 400;
    font-size: 2.35rem;
    letter-spacing: 1px;
    color: #0a667e;
    color: #292d2e;
}

.button-1 .placiau,
.button-2 .placiau {

    color: #292d2e;
}


.button-1 { 
   
	background-color: #0a667e;
    display: block;
	padding: 0.49em 0.8em;
	border: none;
    color: #fff;
	font-size: 1.18em;
    margin: auto;
    cursor: pointer;
    outline: none;
    z-index: 100;
}

.mygtukas-1 {

    color: #fff;
    color: #000;
    transition: 0.3s;
}

.button-2 { 

	background: #0a667e;
    display: block;
	padding: 0.49em 0.8em;
	border: none;
    color: #fff;
    margin: auto;
    cursor: pointer;
    outline: none;
    z-index: 100;
    text-align: center;
}

.button-2:hover {

    color: #000;
    transition: 0.3s;
}

.tekstas {

    color: #465252;
}

h2.aside {

    color: #050620;
}

ul.nav__links {

    display: flex;
    align-items: center;
    width: 100%;
}

.s5 .nav__links li {

    display: inline-block;
    padding: 0;
}

ul.nav__links a {

    text-decoration: none;
    font-size: 1.22rem;
    color: rgba(77, 77, 78, 0.9);
}

ul.nav__links li a:hover { 

    color: #0a667e;
    transition: 0.3s;
}

.nav__links {

    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.hamburger {
    
	position: absolute;
	width: 35px;
	height: 30px;
    top: 15px;
	right: 10%;
	z-index: 5;
	cursor: pointer;
}

.hamburger div {

	position: relative;
	width: 35px;
	height: 3px;
	border-radius: 3px;
	background-color: #0a667e;
	margin-top: 10px;
	transition: all 0.3s ease-in-out;
}

#toggle {
	display: none;
}

#toggle:checked+.hamburger .hamburger__top {
	transform: rotate(-45deg);
	margin-top: 17.5px;
}

#toggle:checked+.hamburger .hamburger__meat {
	transform: rotate(45deg);
	margin-top: -3px;
}

#toggle:checked+.hamburger .hamburger__bottom {
	transform: scale(0);
}

#toggle:checked+.hamburger+.hamburger__nav {
	top: 0;
}

.hamburger__nav {

	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: #050620;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.hamburger__nav .hamburger__nav--wrapper {

	position: relative;
	overflow-y: auto;
	height: 100%;
}

.hamburger__nav--items {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hamburger__nav--items a {
	margin-top: 40px;
	color: #0c7e9b;
	opacity: 0;
	text-decoration: none;
	font-size: 2em;
	transition: all 0.3s ease 0s;
}

.hamburger__nav--items a:first-child {
	margin-top: 0;
}

.hamburger__nav--wrapper nav a {
	opacity: 1;
}

.hamburger__nav--wrapper nav a:hover {
	opacity: 1;
	color: #e74d71;
}

.melynas {

    padding: 0.4em 0.7em;
    border-radius: 27px;
    background-color: #236389;
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: 0;
}

a.melynas {

    color: #fff !important;
}

.melynas:hover {

    background-color: #465252;
    color: #fff;
    transition: 0.3s;
}

.content.flow {

    margin: 3em;
    text-align: center;
    max-width: 1436px;
    padding: 0;
    margin-left: 2.8em;
    max-height: 4.5em;
}

.grid-ish {

    display: flex;
    border: 1px solid rgba(0,0,0,0.2);
    flex-wrap: wrap;
    max-height: 4.3em;
}

.footer-icons {

	align-items: center;
    margin: 1.1em 0;
}

.footer-icons a {

	display: inline-block;
	width: 35px;
	height: 33px;
	cursor: pointer;
	background-color: #236389;
	border-radius: 3px;
    font-size: 25px;
    padding: 0 0.1rem 0  0;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin: 0 0.3em;
}

footer p {

    color: #4D4D4E;
    font-size: 1.2185em;
}

p.adresas {
    color: rgb(41, 108, 146);
}

.footer-distributed {
    
    display: none;
}


@media screen and (min-width: 320px) { 

    .s5 {
        width: 100%;
        overflow-x: hidden;
    }

    div  h1::after {
        
        content: "320: Puslapis ruošiamas";
        color:rgb(247, 236, 87);
    }

    .kalba {

        margin-left: 77%;
        top: 5.5em;
    }

    nav {
        display: none;
    }

    .mobile__menu {
        display: inherit;
    }

    img.logo {
        margin-left: 1.2em;
    }

    .hamburger__nav--items {

        line-height: 0.2;
        background-color: rgb(38, 77, 26);
    }

    img.pokalbis {

        margin-top: -1em;
        height: 15em;
    }

    .s5 h1 {

        text-decoration: none;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.01rem;
        text-shadow: none;
        color: #fff;
        top: 8em;
    }

    .button-1 {

        color: red;
        text-align: center;
        margin-top: 4em;
    }

    .button-1 .placiau {

        padding: 0.3em 2em;
        font-size: 1rem;
    }

    .button-2 .placiau {

        padding: 0.3em 2em;
        font-size: 1rem;
        font-weight: 500;
        border: none;
    }

    .aside {

        margin: 1em 0.4em;
    }

    h2.aside {

        font-size: 1.15rem;
        margin: 1em;
        font-weight: 400;
    }

    .s5 .tekstas p {

        margin: 2em 1em;
    }

    .s5 .tekstas .trecias {

        font-weight: 600;
        text-align: center;
        margin-top: 3em;
    }

    .s5 .mygtukas-1 {

        display: block;
        padding: 0.3em 2em;
        border: none;
        color: #fff;
        font-size: 1.18em;
        margin: auto;
        cursor: pointer;
        outline: none;
        z-index: 100;
        text-align: center;
        margin-top: 1em;
    }

    .s5 .button-one {

        background-color: #0a667e;;
        padding: 0.3em 2em;
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
    }

    .s5 .button-2 {

        margin-top: 3em;
    }
}


@media screen and (min-width: 576px)  {

    .s5 {
    
        height: calc(100vh - 0em);
    }

    div h1::after {

        content: "576: Puslapis ruošiamas";
        color:rgb(187, 243, 97);
    }

    .kalba {

        margin-left: 80%;
        top: 9em;
    }

    .hamburger__nav--items {

        line-height: 0.8;
        background-color: rgb(38, 77, 26);
    }

    header {
        height: 7.7em;
    }

    .logo {
        height: 6em;
    }

    .hamburger {
        top: 35px;
    }

    .s5 h1 {

        top: 35%;
    }

    .button .placiau {

        font-weight: normal;
    }

    img.pokalbis {

        height: 30vh;
        width: 100%;
        margin-top: 3em;
    }

    .s5 .description {
        margin: 2em;
    }

    .s5 .pirmas {

        border: 1px solid rgba(77, 77, 78, 0.2);
        margin: 0.5em 0;
    }

    .s5 .antras {

        border: 1px solid rgba(77, 77, 78, 0.2);
        margin: 0.5em 0;
    }

    .s5 .trecias {

        border: 1px solid rgba(77, 77, 78, 0.2);
        margin: 0.5em 0;
    }

    .s5 .tekstas .trecias {

        margin-top: 0.5em;
        padding: 0;
    }
}


@media screen and (min-width: 768px) {

    .s5 {

        height: calc(100vh - 0em);
    }

    img.logo {
        margin-left: 3em;
    }

    .kalba {
        
        margin-left: 80%;
    }

    div h1::after {

        content: "768: Puslapis ruošiamas";
        color: rgb(82, 236, 198);
    }

    .mygtukas-1 {

        padding: 1em;
    }

    .button-one {

        color: #fff;
        float: right;
        margin-right: 1.5em;
        margin-bottom: 1em;
    }

    .s5 h1 {

        font-size: 2.2rem;
        font-weight: 500;
        color: #fff;
        text-shadow: 1px 1px 2px #0a667e;
        margin-left: -6em;
        top: 10em;
    }

    .s5 h2.aside {

        margin: 2em 0.1em 1em auto;
        transition: 0.3s;
    }

    .button-2 {

        background-color: #fff;
        background-color: none;
    }

    .button-2 .placiau {

        margin-right: 3em;
        float: right;
	    background-color: #236389;
        color: #fff;
        margin-top: -2em;
        margin-top: -2.5em;
        border: none;
    }

    .s5 .tekstas .trecias p {

        float: left;
        align-items: center;
        margin: 1.2em 1em;
    }

    .s5 .tekstas .trecias {

        margin-top: 1.5em;
        padding: 0;
    }

    .button-2 {

        background-color: rgba(247, 236, 236, 0.1);
    }

    .s5 .tekstas p {

        margin: 1.5em 1em;
    }
}


@media screen and (min-width: 992px) {

    div h1::after {

        content: "992: Puslapis ruošiamas";
        color: rgb(100, 176, 226);
    }

    .kalba {
        margin-left: 89%;
    }

    .s5 .nav__links {
        display: inherit;
    }

    nav {
        display: inherit;
    }

    header nav a {
        font-size: 1.35rem;
    }
    
    .mobile__menu {
        display: none;
    }

    .footer-distributed {

        display: inherit;
        margin-top: -9em;
    }

    img.logo {
        margin-left: 1em;
    }

    ul.nav__links  > *:nth-child(1) {

        flex: 1 1 9%;
        min-width: 12ch;

        text-align: center;
    }

    ul.nav__links  > *:nth-child(2) {

        flex: 1 1 9%;
        min-width: 8ch;

        color: #4f5b5e;
        text-align: center;
    }

    ul.nav__links  > *:nth-child(3) {

        flex: 1 1 7%;
        min-width: 8ch;

        color: #292d2e;
        text-align: center;
    }

    ul.nav__links  > *:nth-child(4) {

        flex: 1 1 9%;
        min-width: 7ch;

        color: #292d2e;
        text-align: center;
    }

    ul.nav__links  > *:nth-child(5) {

        flex: 1 1 3%;
        min-width: 3ch;

        color: #292d2e;
        text-align: center;
    }

    ul.nav__links  > *:nth-child(6) {

        flex: 1 1 25%;
        min-width: 27ch;

        color: #292d2e;
        text-align: center;
    }

    .content.flow {

        margin: 2em 0;
    }

    .grid-ish > *:nth-child(1) {

        flex: 1 1 12%;
        min-width: 18ch;

        border-right: 1px solid rgba(0,0,0,0.2);
        height: 4.3em;
    }

    .grid-ish > *:nth-child(2) {

        flex: 1 1 22.5%;
        min-width: 29ch;

        padding: 1.1em 0;
        font-size: 1.25rem;
        font-weight: bolder; 
        color: #515e61;
        border-right: 1px solid rgba(0,0,0,0.2);
        height: 1.3em;
    }

    .grid-ish > *:nth-child(3) {

        flex: 1 1 18.5%;
        min-width: 30ch;

        color: #4f5b5e;
        font-size: 1rem;
        border-right: 1px solid rgba(0,0,0,0.2);
        height: 4.3em;
    }

    .grid-ish > *:nth-child(4) {

        flex: 1 1 22%;
        min-width: 2ch;

        color: #4f5b5e;
        font-size: 1rem;
    }
   
    .grid-ish div p:nth-child(1) {

        margin: 0;
        padding-top: 0.5em;
    }

    .grid-ish div p:nth-child(2) {

        margin-top: 0.1em;
        margin: 0;
    }

    .s5 h1 {

        text-align: center;
        top: 10em;
        left: -3em;
    }

    .s5 .tekstas .pirmas {
        margin-top: 1em;
    }

    .s5 .tekstas .antras {
        margin-top: 1em;
    }

    .s5 .tekstas .trecias {
        margin-top: 1em;
    }

    img.pokalbis {

        margin-top: 2em;
    }
}


@media screen and (min-width: 1200px) { 

    div h1::after {

        content: "1200: Puslapis ruošiamas";
        color: rgb(221, 138, 238);
    }

    .content.flow {

        padding: 0 4.1em;
    }
}


@media screen and (min-width: 1400px) { 

    .s5 {

        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    header {

        max-width: 1436px;
        margin: auto;
    }

     div h1::after {

        content: "1400: Puslapis ruošiamas";
        color: rgb(248, 101, 56);
    }

    .content.flow {
        margin-top: 1.5em;
    }

    img.logo {

        margin-left: 5em;
    }

    .kalba {

        margin-left: 81.7em;
        margin-top: 1.3em;
    }

    img.pokalbis {

        margin-top: -1.5em;
        height: 28em;
    }

    .s5 h1 {

        font-size: 3rem;
        top: 3.2em;
        margin-left: -7.1em;
    }

    .s5 h2.aside {

        width: 51%;
        color: #fff;
        text-shadow: 1px 1px 2px #282929;
        margin: -6.7em auto auto 5.5em;
        font-size: 1.5rem;
    }

    .s5 .mygtukas-1 {

        margin-top: -7.9em;
    }

    .s5 .button-one {
       
        float: none;
        top: -10em;
        padding: 0.7rem 2rem;
        font-size: 1.2rem;
    }

    .s5 .tekstas {

        margin-top: 14em;
        line-height: 1.16;
        font-size: 1.125rem;
    }

    .s5 .tekstas p {

        padding: 0.6em 1.8em;
        margin: 0;
        padding: 0.9em 1.8em;
        color: rgba(3, 73, 88, 0.8);
        font-size: 1.125rem;
    }

    .s5 .tekstas .pirmas {

        width: 27%;
        margin-left: 4em;
        height: 9.9em;
    }

    .s5 .tekstas .antras {

        width: 27.2%;
        margin-left: 30.6em;
        margin-top: -10.55em;
        height: 9.9em;
    }

    .s5 .tekstas .trecias {

        width: 27.1%;
        margin-left: 57.4em;
        margin-top: -10.5em;
        height: 9.9em;
        text-align: start;
        font-weight: normal;
    }

    .s5 .description {

        margin: 0;
    }

    .s5 .button-2 .placiau {

        margin-right: 2em;
        margin-top: -0.9em;
        padding: 0.4em 1.8em;
        text-align: center;
        border: none;
    }

    ul.nav__links a {

        font-size: 1.4rem;
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */